<div class="transaction-list-container">
  <h1 class="mat-h1">Transaction List</h1>

  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-group">
        <input matInput formControlName="accountNumber" placeholder="Account Number">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <input matInput formControlName="customerId" placeholder="Customer ID">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <input matInput formControlName="description" placeholder="Description">
      </mat-form-field>
    </div>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="clear()">Clear</button>
      <button mat-raised-button color="primary" type="submit">Search</button>
    </div>
  </form>

  <table class="transaction-table">
    <thead>
      <tr>
        <th (click)="sortBy('id')">
          ID
          <mat-icon *ngIf="sortByColumn === 'id' && sortOrder === 'asc'">arrow_upward</mat-icon>
          <mat-icon *ngIf="sortByColumn === 'id' && sortOrder === 'desc'">arrow_downward</mat-icon>
        </th>
        <th (click)="sortBy('trxAmount')">Amount
          <mat-icon *ngIf="sortByColumn === 'trxAmount' && sortOrder === 'asc'">arrow_upward</mat-icon>
          <mat-icon *ngIf="sortByColumn === 'trxAmount' && sortOrder === 'desc'">arrow_downward</mat-icon>
        </th>
        <th (click)="sortBy('trxDate')">Date
          <mat-icon *ngIf="sortByColumn === 'trxDate' && sortOrder === 'asc'">arrow_upward</mat-icon>
          <mat-icon *ngIf="sortByColumn === 'trxDate' && sortOrder === 'desc'">arrow_downward</mat-icon>
        </th>
        <th (click)="sortBy('trxTime')">Time
          <mat-icon *ngIf="sortByColumn === 'trxTime' && sortOrder === 'asc'">arrow_upward</mat-icon>
          <mat-icon *ngIf="sortByColumn === 'trxTime' && sortOrder === 'desc'">arrow_downward</mat-icon>
        </th>
        <th>Description</th>
        <th>Account Number</th>
        <th>Customer ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.trxAmount | currency: 'RM' }}</td>
        <td>{{ transaction.trxDate }}</td>
        <td>{{ transaction.trxTime }}</td>
        <td>
          <input matInput type="text" [(ngModel)]="transaction.description">
        </td>
        <td>{{ transaction.accountNumber }}</td>
        <td>{{ transaction.customerId }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <button type="button" class="batch-update-btn" (click)="batchUpdate()">Update</button>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 0">Previous</button>
    <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next</button>
  </div>
</div>